/*This CSS file handles the accessibility of the overall site (for devices such as mobile devices and tablets etc)*/


/*Laptop/PC - this customisations are covered in menu.css where other default styling takes place*/

/*smallest average device width is 320px after researching*/
/*largest average device width is 480px*/
/*Mobile phone*/ 
/*Portrait*/
@media (min-width: 320px) and (max-width: 480px) {   

   p {
        font-size: 12pt;
        line-height: 16pt;
    }

    nav ul li a {
        padding: 0.4rem;
        font-size: 12pt;
        
    }

    /*on mobile devices each coloum size in the grid on the gallery page needs to scale down ie set to 100px*/
    .photoGrid {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));  /*  enable different amount of columns based on current screen size  */
      
    }

    
    footer {
       
        opacity: 0.9;
        position: relative;
        top: 8rem;
        bottom: 0rem;
        width: 100%;

    }

    footer span {
        display: inline-block;
         margin-left: 3rem;
    }

}

/*Mobile phone landscape*/
/*max width set to 812px as this was largest value currently for a mobile device (not tablets)*/
@media (max-width: 812px)  and (orientation: landscape){   

    p {
        font-size: 14pt;
    }

    /*menu*/
    nav ul li a {
        padding: 1rem;
        font-size: 16pt;
    }

}

/*Tablet portrait*/
/*1024px largest width of current tablets + kindles*/
@media  (min-width:768px) and (max-width: 1023px) and (orientation:portrait){ 

    p {
        font-size: 18pt;
        line-height: 20pt;
    }

    nav ul li a {
        padding: 2rem;
        font-size: 18pt;
    }

    a {
        font-size: 16pt;
    }

    footer span {
        display: inline-block;
         margin-left: 3rem;
    }

} 


/*Tablet landscape - very similar to resolution of PC's: no need to detailed cutomisations*/

