@font-face{
    font-family: playfair;
    src:url(../Fonts/PlayfairDisplay-Regular.ttf)
}

@font-face{
    font-family: openSans;
    src: url(../Fonts/OpenSans-Light.ttf);
}

@font-face{
    font-family: openSansCondensed;
    src: url(../Fonts/OpenSansCondensed-Light.ttf);
}
:root{
    --first-font: playfair;
    --second-font: openSans;
    --third-font: openSansCondensed;
    --main-font: ;
    font-family: var(--main-font);
}

html {
    background-color: #F6FFF8;
}

html,
body {
    padding: 0.25rem;
    margin: auto;
}

body {
    
    max-width: 80%;
    font-family: var(--third-font);
    background-color: #F6FFF8;

    
}



p {
    font-size: 14pt;
    line-height: 16pt;
    text-align: justify;
    color: #25274D;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: left;
    font-family: var(--first-font);
    padding-top: 1rem;
}

h2,
h3,
h4 {
    color: #501F3A ;
}

h1 {
    color: #B23850;
    padding-top: 1rem;
}

.apply{
    padding: 0.2rem;
}

.apply:hover::after {
    content:  "💌";
}


/*General hover over any a tag on website*/
a:hover {
    color: #501F3A;
    font-weight: bold;
}

a {
    color: #464866;
}




/*Title styling*/
.title {
    padding: 0rem;
    margin-bottom: 0rem;
    margin-top: 3rem;
    color:#B23850;
   
}

.homepage {
   
    background-color: #F6FFF8;
}  

.pageLink ul{
    list-style: none;
}


.about{
    /* width: 65rem ; */
    
    text-align: justify;
    color: #25274D;

}

/*Gallery Page*/
/* Container element set to use CSS grid (most suitable to achieve a grid photo layout) */
.photoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));  /*  enable different amoutn of columns based on current screen size  */
    grid-gap: 1rem;
}

/*Each picture element on page*/
.photo-box {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
    position: relative;
}

.photo-box img {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0d170f7d;
  }
  
.photo-box:hover .overlay {
    opacity: 1;
  }
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay a:hover{
    color: white;
}


.copyrightImages{
    font-size: 10pt;
    display: flex;
    justify-content: flex-end;
}


.profilePic{
    display: flex;
    justify-content: center;
    width: 9rem;
    height: 13rem;
}


.marryMe,
.technical{
    white-space: pre-line;
}


/*intro paragraph above profile picture on homepage*/
.intro {
    white-space: pre-line;
    display: flex;
    justify-content: flex-start;
    margin-top: 0.1rem;
    padding: 0rem;
}

/*adding icon after on page links*/
.pageLink a:hover::after,
.technical a:hover::after 
{
    content: " \21AA";
}

/* .technical a{
   padding-top: 0.25rem;
} */
.return a:hover::after  {
    content: " \21A9" ;
}


/*Poetry*/
/*Format each poem to be line-by-line*/

.poems {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));  /*  enable different amount of columns based on current screen size  */
    grid-gap: 3rem;
    justify-content: space-evenly;
    position: relative;
    
}

.poems section ul li {
    list-style: square;
}

.poemContent  {
    white-space: pre-line;
    text-align: center;
    color: #25274D;
}

.poemPicture{
    text-align: center;
}

body article > h2 {
    text-align: center;
}


/* Wedding application form */
.form {
    color: #464866;
}



/* Blogs formatting */
section > ul {
    color: #464866;
    line-height: 1.5rem;
}


.blogsList ul li{
    padding-top: 0.2rem;
    list-style: square;
}


/* Contact page  */

.contactLink{
    width: 3rem;
}


.UIList{
    list-style-position: outside;
}

.matchFinder section{
    padding: 0.3rem;
}

