@font-face{
    font-family: playfair;
    src:url(../Fonts/PlayfairDisplay-Regular.ttf)
}

:root{
    --first-font: playfair;
    --second-font: ;
    --main-font: ;
    font-family: var(--main-font);
}

html,
body {
    padding: 0;
    margin: auto;
}

body {
    max-width: 1050px;
    font-family: ;
}



p {
    font-size: 15pt;
    line-height: 17pt;
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: left;
    font-family: var(--first-font);
}

/*General hover over any a tag on website*/
a:hover {
    color: teal;
    font-weight: bold;
}

/*Title styling*/
h1.title {
    padding: 0rem;
    margin-bottom: 0rem;
}


/*Photography Page*/
.photoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
   
}

/*Each picture element on page*/
.photo-box {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
    position: relative;
}

.photo-box img {
    display: block;
}



.profilePic{
   
    width: 9rem;
    height: 13rem;
}
.welcome {
    margin: 0.5rem;
    align-content: center;
   
}

/*intro paragraph above profile picture on homepage*/
.intro {
    white-space: pre-line;
    margin-top: 0.1rem;
    padding: 0rem;
}

/*adding icon after on page links*/
.links-list a:hover::after {
    content: "➥";
}

/*Poetry*/
/*Format each poem to be line-by-line*/
.poemContent  {
    white-space: pre-line;
}



