/*Menu styling*/
ul {
    padding-left: 0rem;
}  

nav{
    width: fit-content;
    top: 0rem;
    height: 2rem;
    position: fixed;
    background-color: #F6FFF8;
    opacity: 0.9;
    font-family: var(--first-font);
}  


/*Menu orientation*/
nav  ul{
    list-style: none; /*removes default bullet points*/
    display: inline-flex;
    justify-content: space-evenly;
    margin-top: 0rem;
}

/*Menu items details*/
nav li {
    position: relative;
    display: block;
    width: 100%;
    margin-left: 1rem;
}


nav ul li {
    margin-left: 0rem;
}

nav a:hover {
   
    font-weight: bold;
}

/*Hide any drop down menu when not hovering over parent*/
nav > ul ul {
    display: none;
}

/*Display blogs mini-menu when hover over blogs item*/ 
/*set the child menu of blogs width and make them a list top to bottom*/
li:hover > ul {
    position: absolute;
    display: flex;
    flex-direction: column;   /* to allow mini menu to display top to bottom*/
    width: fit-content;  /*the mini menu width will auto resize if in future longer words than "personal" or "academic" are used*/
    top: 2rem;
    left: 0rem;
    font-size: 10pt;
    /*padding-left: 0.25rem;
    padding-right: 0rem;*/
    background-color: #F6FFF8;
}


/*Each menu item customise*/
nav  ul  li a {
   color: #501F3A;
   padding:1rem; /*padding around each item*/
   text-decoration: none;  /*remove default underline*/
   font-size: 16pt;
   align-self: flex-start;
}  



/*Draw line under menu item when hover*/
.menuLine {
    width: 0rem;
    height: 0.25rem;
    background:#25274D;
    transition:  1s;
}

/*allows to change another div when hover over one div*/
nav > ul > li  a:hover ~ .menuLine {     
    width: 5rem;
}



/* Styling of footer */

footer {
    background-color: rgba(185, 180, 180, 0.473);
    opacity: 0.9;
    position: relative;
    top: 8rem;
    bottom: 0rem;
    width: 100%;
    display: grid;

}

footer ul {
    
    list-style: none; /*removes default bullet points*/
    display: inline-flex;
    justify-content: start;
   
}

footer ul li {

    position: relative;
    
    width: 5rem;
    margin-left: 0.3rem;
    padding: 0.25rem;
    

}

.socialLink{
    width: 35%;
}


footer div {
    margin-left: 7rem;
    
    margin-top: 1rem;

}

